@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(22px);
    }
    50% {
        transform: translateY(0px);
    }
    75% {
        transform: translateY(22px);
    }
    100% {
        transform: translateY(0px);
    }
}