
html, body{
    height: 100%;
}

body{
    background-image: url('./src/assets/bg-ginasio.jpg');
    background-position: center center;
    background-size: cover;
    animation: bgChange 25s 10s ease-in-out infinite;
}

@keyframes bgChange{
    0%, 100%{
        background-image: url('./src/assets/bg-ginasio.jpg');
    }
    25%{
        background-image: url('./src/assets/bg-quadra.jpg');
    }
    50%{
        background-image: url('./src/assets/bg-basquete.jpg');
    }
    75%{
        background-image: url('./src/assets/bg-ping-pong.jpg');
    }
}

section{
    padding-top: 2.5rem;
    padding-bottom: 1.2rem;
    height: 100%;
}

h1{
    max-width: 20rem;
    margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
    line-height: 2.5rem;
}

h4{
    line-height: 1.5rem;
}

.form-container{
    max-width: 18rem;
    background: #111111;
    padding: 1rem;
    border-radius: .5rem;
    border: 3px solid var(--brand-black);
}

input{
    font-size: 0.7rem !important;
    background-color: #1f1f1f !important;
    color: white !important;
}

input::placeholder{
    color: rgb(189, 189, 189) !important;
}

form button{
    background-color: var(--brand-dark-green) !important;
    color: var(--brand-white) !important;
    border: 2px solid transparent;
}

form button:hover{
    background-color: var(--brand-blue) !important;
    color: var(--brand-white) !important;
    border: 2px solid transparent;
}

form button:active{
    background-color: transparent !important;
    color: var(--brand-white) !important;
    border: 2px solid var(--brand-white);
}

.image{
    margin-top: -1.5rem;
}

.image img{
    max-width: 16rem;
    animation: floating 20s ease-in-out infinite;
}

.images-pseudo::before{
    content: url('./src/assets/volleyball.svg');
    position: absolute;
    top: -2rem;
    left: -12rem;
    animation: floating 12s ease-in-out infinite;
}

.images-pseudo::after{
    content: url('./src/assets/basketball.svg');
    position: absolute;
    top: -2rem;
    right: -12rem;
    animation: floating 12s 3s ease-in-out infinite;
}

@media screen and (max-width: 991px) {

    h1{
        font-size: 1.75rem !important;
    }

    .image::before{
        content: url('./src/assets/ping-pong.svg');
        position: absolute;
        bottom: -2rem;
        left: -12rem;
        animation: floating 12s 2s ease-in-out infinite;
    }
    
    .image::after{
        content: url('./src/assets/soccerball.svg');
        position: absolute;
        bottom: -2rem;
        right: -12rem;
        animation: floating 12s 1s ease-in-out infinite;
    }
}