@font-face {
  font-family: 'Nunito';
  font-style: normal;
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format("truetype");
}

@font-face {
  font-family: 'Nunito';
  font-style: italic;
  src: url('../fonts/Nunito-Italic-VariableFont_wght.ttf') format("truetype");
}

@font-face {
  font-family: 'Bungee';
  src: url('../fonts/Bungee-Regular.ttf') format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-size: 1.6rem;
  font-weight: normal;
  font-family: 'Nunito', 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
  /* font-size: 62.5%; */
}

html,
body {
  overflow-x: hidden;
  background-color: var(--brand-black);
  color: var(--brand-white);
  height: 100%;
}

.root{
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
}